@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Gafata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

link[rel="shortcut icon"] {
    width: 40px;
    height: 40px;
}

body {
  background-color: whitesmoke;
  
}

.intro-section {
  background: linear-gradient(to bottom, #4CAF50, #2E7D32);
  color: #fff; 
  padding: 50px 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.logo {
    width: 7rem;
}

.title {
    font-family: "Gafata", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
}

.subtitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    margin-top: -1rem;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

.btn-primary {
    background-color: #85D523;
    font-size: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.8rem;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.btn-primary:hover {
    background-color: #6FA91C;
    border: none;
}

.btn-primary:focus, .btn-primary:active {
  background-color: #6FA91C !important;
  border: none;
}

/* --------------------- */
#more-features {
    padding: 60px 0 60px 0;
    overflow: hidden;
  }
  
  #more-features .box {
    padding: 40px;
    margin-bottom: 30px;
    margin-top: 1rem;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    height: 100%;
    text-align: center;
    padding-bottom: 1%;
  }

  .section-title {
    text-align: center;
    font-family: "Gafata", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
  }

  .section-subtitle {
    text-align: center;
    margin-bottom: 0.7rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }
  
  #more-features .icon {
    float: left;
    margin-top: 8%;
  }
  
  #more-features h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    padding-top: 4%;
    text-decoration: underline;
  }
  
  #more-features p {
    font-size: 0.9rem;
    margin-left: 100px;
    margin-bottom: 0;
    line-height: 24px;
  }

  /* ------------------------- */

  #clientes {
    padding: 60px 0 80px 0;
    background-color: #DCDCDC;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  }

  .logo-clientes {
    display: flex;
    gap: 16rem;
    align-items: center;
    justify-content: center;
  }

  .logo1{
    width: 250px;
  }

  .logo2{
    width: 450px;
  }

/* ------------------------*/

#contact { 
  overflow: hidden;
  padding: 60px 0 80px 0;
  margin-bottom: 1rem;
}

#contact .box {
  padding: 40px;
  margin-bottom: 30px;
  margin-top: 1rem;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  height: 85%;
  width: 75%;
  text-align: center;
  padding-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

#contact .icon {
  float: left;
  margin-top: 3%;
}

#contact h4 {
  font-weight: 700;
  margin-bottom: 0.9rem;
  font-size: 1.1rem;
  padding-top: 2%;
  text-decoration: underline;
}

#contact p {
  font-size: 0.9rem;
  margin-bottom: 0;
  line-height: 24px;
}

/* ------------------------*/

  footer {
    font-size: 0.9rem;
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, #4CAF50, #2E7D32);
    color: whitesmoke;
  }

  .rodape {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (max-width: 985px) {
    .logo-clientes {
      flex-direction: column;
      gap: 8rem;
      margin-top: 3rem;
    }
  }
  
  @media (max-width: 767px) {

    body {
      overflow-x: hidden;
    }

    #more-features .box {
      margin-bottom: 20px;
    }
  
    #more-features .icon {
      float: none;
      text-align: center;
      padding-bottom: 15px;
    }
  
    #more-features h4,
    #more-features p {
      margin-left: 0;
      text-align: center;
    }

    #contact .box {
      margin-bottom: 20px;
    }
  
    #contact .icon {
      float: none;
      text-align: center;
      padding-bottom: 15px;
    }
  
    #contact h4,
    #contact p {
      margin-left: 0;
      text-align: center;
    }

    #contact p {
      padding-bottom: 1.5rem;
    }
  }

  @media (max-width: 600px) {
    .logo-clientes {
      gap: 3.5rem;
    }

    .logo1{
      width: 150px;
    }
  
    .logo2{
      width: 250px;
    }
  }

 





